:root {
  --lighter: #f0ebce;
  --main: #aa8b56;
  --expression: #4e6c50;
  --strong: #395144;
  --live: #e8472b;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--lighter);
}
header {
  background: rgb(240, 235, 206);
  background: linear-gradient(
    90deg,
    rgba(240, 235, 206, 1) 0%,
    rgba(170, 139, 86, 1) 30%
  );
  border-bottom: double var(--strong);
}
.logo-nav {
  width: 20rem;
}
.nav_link {
  color: var(--expression);
  text-decoration: none;
}
.nav_link:hover {
  color: var(--live);
}
.active {
  color: var(--strong);
  text-decoration: underline;
}
.cart_logo {
  width: 5rem;
  border-radius: 50%;
}
.cart_logo:hover {
  border: double var(--live);
}
.carousel_img1 {
  height: 40vh;
  background-image: url("../Assets/dogs1.jpg");
  background-size: cover;
  background-position: center;
}
.carousel_img2 {
  height: 40vh;
  background-image: url("../Assets/dogs2.jpg");
  background-size: cover;
  background-position: center;
}
.carousel_img3 {
  height: 40vh;
  background-image: url("../Assets/cats1.jpg");
  background-size: cover;
  background-position: center;
}
.carousel_img4 {
  height: 40vh;
  background-image: url("../Assets/dogs3.jpg");
  background-size: cover;
  background-position: center;
}

.title_png {
  width: 20rem;
  padding: 1rem;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.footer-container {
  background: rgb(78, 108, 80);
  background: radial-gradient(
    circle,
    rgba(78, 108, 80, 1) 0%,
    rgba(197, 155, 84, 1) 100%
  );
}

.redes {
  padding: 0.2rem;
}

.redes:hover {
  border: double var(--live);
  border-radius: 50%;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: space-around;
  align-items: center;
}

.relleno {
  width: 40rem;
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .carousel_img1 {
    height: 20vh;
    background-image: url("../Assets/dogs1.jpg");
    background-size: cover;
    background-position: center;
  }
  .carousel_img2 {
    height: 20vh;
    background-image: url("../Assets/dogs2.jpg");
    background-size: cover;
    background-position: center;
  }
  .carousel_img3 {
    height: 20vh;
    background-image: url("../Assets/cats1.jpg");
    background-size: cover;
    background-position: center;
  }
  .carousel_img4 {
    height: 20vh;
    background-image: url("../Assets/dogs3.jpg");
    background-size: cover;
    background-position: center;
  }
}
