
.footer-container{
    background: rgb(78,108,80);
    background: radial-gradient(circle, rgba(78,108,80,1) 0%, rgba(197,155,84,1) 100%);
}

.redes{
    padding:.2rem;
}

.redes:hover{
    border: double orange;
    border-radius: 50%; 
}